.btn {
  &.btn-icon {
    border: none;

    &:active {
      opacity: 50%;
    }
  }
}
.buttonNull{
  display: none;
}

.buttonGrid,
.buttonRows,
.returnButton{
  border-radius: 15%;
  padding: 5px;
  gap:5px;
}