$grid-gap: 20px;
$tile-padding: 15px;
$tile-background: #fff;
$tile-border-radius: 8px;
$tile-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$tile-hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

$font-family: 'Arial', sans-serif;
$primary-color: white;
$secondary-color: #2ecc71;

.movie-toolbar-wrapper {
  @extend .py-2;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#movie-list-container {
  @extend .mt-5;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
}

.movieSelection{
  align-self: flex-end;
}

.buttons{
  align-items: left;
}

.movieDistribution {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movieDisplayGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  object-fit: cover;
}

.movieDisplayRows {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
  object-fit: cover;
}

.movieNull1,
.movieNull2 {
  display: none;
  position: fixed;
}

.detailMovie{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $grid-gap;
  padding: $grid-gap;
  color: $primary-color;
}

.movieInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.movieOverview {
  display: -webkit-box;            
  -webkit-box-orient: vertical;    
  -webkit-line-clamp: 2;   
  line-clamp: 2;        
  overflow: hidden;               
  text-overflow: ellipsis;         
  white-space: normal;   
  color: $primary-color;          
}

.movieTitle{
  color: $primary-color;
  border-radius: $tile-border-radius;
  box-shadow: $tile-shadow;
  width: 100%;
  align-self: center;
  padding: $tile-padding;
  &:hover {
    box-shadow: $tile-hover-shadow;
  }
}
.movieRating{
  color: $primary-color;
}

.movieDate{
  color:$primary-color
}

.imgDiv{
  gap: 30px;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
  width: 25%;
}

.movieImage {
    width: auto; 
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 20px;
    align-self: center;
    justify-self: center;
}


.movieReleaseDate {
        font-style: italic;
      }

.movie-rating {
        font-weight: bold;
        color: $primary-color;
      }

.castDiv{
  scroll-snap-align: start;
  align-items: center;
  box-sizing: border-box;
}

.castContainer{
  display: flex;
  flex-direction: row;
  gap: 2px;
  overflow-x: auto;
  scrollbar-width: thin;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
}

.crewDiv{
  scroll-snap-align: start;
  align-items: center;
}

.crewContainer{
  display: flex;
  flex-direction: row;
  gap: 2px;
  overflow-x: auto;
  scrollbar-width: thin;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
}

.castContainer::-webkit-scrollbar {
  height: 8px;}

.crewContainer::-webkit-scrollbar {
  height: 8px;}